$row-padding: 2px;
$hover-padding: 3px;
.rowWrapper {
  //padding: $row-padding $row-padding $row-padding 0;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  &:hover {
    opacity: 1;
  }
  &.rowWrapperAll {
    flex-grow: 1;
  }
  &.rowWrapperHolder {
    flex-basis: 78px;
    display: flex;
    & .label-dragHolder {
      flex-basis: 58px;
      align-items: center;
      cursor: move;
    }
    & .label-checkbox {
      flex-basis: 20px;
      display: flex;
      align-items: center;
    }
  }
  //&:hover {
  //  //opacity: 0.7;
  //  //padding: $hover-padding $hover-padding $hover-padding 0;
  //}
  &:active {
    opacity: 1;
  }
}

.rowWrapperDragDisabled {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

.row {
  padding-left: 0;
  height: 100%;
  white-space: nowrap;
  display: flex;
  & > * {
    box-sizing: border-box;
  }
}

/**
 * The outline of where the element will go if dropped, displayed while dragging
 */
.rowLandingPad {
  cursor: -webkit-grabbing !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-left: 3px solid #5344AD;
  position: absolute;
  //height: 6px;
  * {
    opacity: 0.6 !important;
    cursor: -webkit-grabbing !important;
  }
  //.rowToolbar {
  //  display: none;
  //}
  &::before {
    content: '';
    z-index: 12;
    background-color: #5344AD;
    position: absolute;
    right: 0;
    top: 26px;
    left: 0;
    width: 100%;
    height: 4px;
  }
}

/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
.rowCancelPad {
  @extend .rowLandingPad;

  &::before {
    background-color: #e6a8ad;
  }
}

/**
 * Nodes matching the search conditions are highlighted
 */
.rowSearchMatch {
  outline: solid 1px #0080ff;
}

/**
 * The node that matches the search conditions and is currently focused
 */
.rowSearchFocus {
  outline: solid 1px #fc6421;
}

%rowItem {
  display: inline-block;
  vertical-align: middle;
}

.rowContents {
  @extend %rowItem;
  position: relative;
  height: 100%;
  padding: 0;
  min-width: 230px;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: none;
  &:hover {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    //box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    box-shadow: none;
  }
}

.rowContentsDragDisabled {
  box-sizing: border-box;
}

.rowLabel {
  @extend %rowItem;
  //flex: 0 1 auto;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  //align-items: center;
  flex: 0 0 220px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.rowToolbar {
  @extend %rowItem;
  flex: 0 1 auto;
  display: flex;

  height: 100%;
  align-items: center;
  flex-grow: 1 !important;
}

.moveHandle {
  @extend %rowItem;

  height: 100%;
  width: 44px;
  background: #d9d9d9
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSIgPjxwYXRoIGQ9Ik0xNCAxNS43aDE0LjQiLz48cGF0aCBkPSJNMTQgMjEuNGgxNC40Ii8+PHBhdGggZD0iTTE0IDI3LjFoMTQuNCIvPjwvZz4KPC9zdmc+')
    no-repeat center;
  border: solid #aaa 1px;
  //box-shadow: 0 2px 2px -2px;
  cursor: grabbing;
  border-radius: 1px;
  z-index: 1;
}

.loadingHandle {
  @extend .moveHandle;

  cursor: default;
  background: #d9d9d9;
}

@keyframes pointFade {
  0%,
  19.999%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.loadingCircle {
  width: 80%;
  height: 80%;
  margin: 10%;
  position: relative;
}

.loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  $point-count: 12;
  $spin-animation-time: 800ms;

  &:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    height: 30%;
    background-color: #fff;
    border-radius: 30%;
    animation: pointFade $spin-animation-time infinite ease-in-out both;
  }

  @for $i from 1 through (($point-count + 1) / 2) {
    &:nth-of-type(#{$i}) {
      transform: rotate(360deg / $point-count * ($i - 1));
    }

    &:nth-of-type(#{$i + $point-count / 2}) {
      transform: rotate(180deg + 360deg / $point-count * ($i - 1));
    }

    &:nth-of-type(#{$i}),
    &:nth-of-type(#{$i + $point-count / 2}) {
      &:before {
        animation-delay: - $spin-animation-time + ($spin-animation-time /
              $point-count * 2 * ($i - 1));
      }
    }
  }
}

.toolbarButton {
  @extend %rowItem;
}

.rowTitle {
  font-weight: 600;
  color: #3578E5;
}
.rowType {
  font-weight: 300;
  color: #42526E;
  display: none;
}

.rowTitleWithSubtitle {
  display: block;
}

.rowSubtitle {
  font-size: 70%;
  line-height: 0.7;
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.collapseButton,
.expandButton {
  appearance: none;
  background: none;
  border: none;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  padding-left: 120px;
  cursor: pointer;
  z-index: 1000;
  transform: translate(-50%, -50%);
  &:focus {outline:0;}
}

.collapseButton {
  height: 100%;
  &:before {
    content: "\203A";
    transform: rotate(90deg);
    display: inline-block;
  }
}

.expandButton {
  height: 100%;
  &:before {
    content: "\203A";
    display: inline-block;
  }
}

/**
 * Line for under a node with children
 */
.lineChildren {
  height: 100%;
  display: inline-block;
  position: absolute;
}

.contentContainer {
  width: 75%;
}
// additional styles
.mainRowToolbar {
  display: flex;
  height: 100%;
}
